#container {
	margin: 0 auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: white;
}
h1{
    text-align: center;
    padding-top: 5em;
}